<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>GD match</title>
    <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">

  </head>

  <body>
    <div align="center">

      <h2>Resend confirmation instructions</h2>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
      <% end %>

      <%= render "users/shared/links" %>

    </div>
  </body>

</html>