<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>GD match</title>
    <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">
    <link rel="stylesheet" href="../../assets/stylesheets/base.css">
    <link rel="stylesheet" href="../../assets/stylesheets/tweets.scss">

  </head>

  <body>
    <br>
    <div align="center" class="tweet-head">
      <p><b>グループディスカッションの練習に参加しよう！</b></p>
    </div>
    <br>

    <div align="center">

      <%# <%= form_tag({controller:"tweets",action:"index"}, method: :get, class: "input-group") do %>
      <%# <%= text_field_tag :search, params[:search], placeholder: "テーマ検索", class: "form-control" %>
      <%# <span class="input-group-btn"> %>
      <%# <%= button_tag "検索", :name => nil, class: "btn-primary" %>
      <%# </span> %>
      <%# <% end %>

      <%= form_tag({controller:"tweets",action:"index"}, method: :get, class: "input-group") do %>
      <%= text_field_tag :search , params[:search],placeholder: "テーマ名を検索" %>
      <%# <% end %>
      <%# #キーワード検索するタブを作る %>

      <%# <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
      <%= select_tag "thematype", options_for_select([["課題解決型", "課題解決型"], ["自由討論型", "自由討論型"], ["ディベート型", "ディベート型"], ["選択型", "選択型"]], include_blank: "選択して下さい") %>
      <%# <% end %>
      <%# #プルダウン検索バー生成 %>

      <span class="input-group-btn">
        <%= submit_tag '検索する' %>
        <%# <%= button_tag "検索", :name => nil, class: "btn-primary", type: "submit" %>
      </span>

      <% end %>
    </div>

    <br>

    <div class="t-container">
      <% @tweets.each do |t| %>
      <div class="t-item">
        <br>
        <div align="center">
          <p><b><%= t.thema %></b></p>
        </div>
        <br>
        <table class="tweet-table">
          <tbody>
            <tr>
              <th>開催日時</th>
              <td><%= t.hosttime %></td>
              <%# .to_s(:datetime_jp) %>
            </tr>
            <tr>
              <th>所要時間</th>
              <td><%= t.requiredtime %></td>
            </tr>
            <tr>
              <th>テーマ型</th>
              <td><%= t.thematype %></td>
            </tr>
            <tr>
              <th>グループ人数</th>
              <td><%= t.number %>名</td>
            </tr>
            <tr>
              <th>職種・企業群</th>
              <td><%= t.subject %></td>
            </tr>
            <tr>
              <th>レベル</th>
              <td><%= t.level %></td>
            </tr>
            <tr>
              <th>ツール</th>
              <td><%= t.meetingtype %></td>
            </tr>
            <tr>
              <th>募集期限</th>
              <td><%= t.limittime %></td>
              <%# .to_s(:datetime_jp) %>
            </tr>
            <tr>
              <th>更新日時</th>
              <td><%= t.updated_at %></td>
              <%# .to_s(:datetime_jp) %>
            </tr>
          </tbody>
        </table>

        <div align="center">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
          <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
          <% else %>
          <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
          <% end %>
          <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %><br>
        </div>
        <br>
        <div align="center">
          <a href="/users/<%= t.user.id %>"><%= t.user.name %></a><br>
        </div>
        <br>
        <% if Time.current < t.limittime && TweetTaker.where(tweet_id:t.id).count + 1 < t.number %>
        <div class="tweet-submit-1" align="center">
          <%= button_to " 受付中 ", tweet_path(t.id) %><br>
        </div>
        <% else %>
        <div class="tweet-submit" align="center">
          <%= button_to " 確認 ", tweet_path(t.id) %><br>
        </div>
        <% end %>
        <% if user_signed_in? && current_user.id == t.user_id %>
        <div align="center">
          <%= link_to "編集", edit_tweet_path(t.id) %>&nbsp;&nbsp;<%= link_to "削除", tweet_path(t.id), method: :delete %>
        </div>
        <% end %><br>
      </div>
      <% end %>
    </div>

    <div align="center">
      <%= paginate @tweets %>
      <br>
      <%= page_entries_info @tweets %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

  </body>

</html>