<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>GD match</title>
    <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">
    <link rel="stylesheet" href="../../assets/stylesheets/base.css">
    <link rel="stylesheet" href="../../assets/stylesheets/tweets.scss">

  </head>

  <body>
    <br>
    <div align="center">
      <h2>参加者になる</h2>
    </div>
    <br>
    <div align="center">
      <h3>参加枠を検索</h3>
      <%= form_tag({controller:"tweets",action:"index"}, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag '検索する'  %>
      <% end %>
    </div>

    <br>
    <div align="center">
      <%= page_entries_info @tweets %>
    </div>

    <div class="t-container">
      <% @tweets.each do |t| %>
      <div class="t-item">
        <br>
        <div align="center">
          <p><b><%= t.thema %></b></p>
        </div>
        <br>
        <table class="tweet-table">
          <tbody>
            <tr>
              <th>開催日時</th>
              <td><%= t.hosttime.to_s(:datetime_jp) %></td>
            </tr>
            <tr>
              <th>テーマ型</th>
              <td><%= t.thematype %></td>
            </tr>
            <tr>
              <th>グループ人数</th>
              <td><%= t.number %>名</td>
            </tr>
            <tr>
              <th>レベル</th>
              <td><%= t.level %></td>
            </tr>
            <tr>
              <th>ツール</th>
              <td><%= t.meetingtype %></td>
            </tr>
            <tr>
              <th>募集期限</th>
              <td><%= t.limittime.to_s(:datetime_jp) %></td>
            </tr>
            <tr>
              <th>投稿日時</th>
              <td><%= t.created_at.to_s(:datetime_jp) %></td>
            </tr>
          </tbody>
        </table>

        <div align="center">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(t) %>
          <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
          <% else %>
          <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
          <% end %>
          <% else %>
          <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %><br>
        </div>
        <br>
        <div align="center">
          <a href="/users/<%= t.user.id %>"><%= t.user.name %></a><br>
        </div>
        <br>
        <div align="center">
          <%= button_to " 確認 ", tweet_path(t.id) %><br>
          <% if user_signed_in? && current_user.id == t.user_id %>
          <%= link_to "編集", edit_tweet_path(t.id) %>&nbsp;&nbsp;<%= link_to "削除", tweet_path(t.id), method: :delete %>
          <% end %><br>
        </div>
        <br>
      </div>
      <% end %>
    </div>

    <div align="center">
      <%= paginate @tweets %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>

</html>