<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>GD match</title>
    <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">
    <link rel="stylesheet" href="../../assets/stylesheets/tweets.scss">

  </head>

  <body>
    <br>

    <div class="t-container">
      <div class="t-item">
        <br>
        <div align="center">
          <p><b><%= @tweet.thema %></b></p>
        </div>
        <br>
        <table class="tweet-table">
          <tbody>
            <tr>
              <th>開催日時</th>
              <td><%= @tweet.hosttime.to_s(:datetime_jp) %></td>
            </tr>
            <tr>
              <th>テーマ型</th>
              <td><%= @tweet.thematype %></td>
            </tr>
            <tr>
              <th>グループ人数</th>
              <td><%= @tweet.number %>名</td>
            </tr>
            <tr>
              <th>レベル</th>
              <td><%= @tweet.level %></td>
            </tr>
            <tr>
              <th>ツール</th>
              <td><%= @tweet.meetingtype %></td>
            </tr>
            <tr>
              <th>接続情報</th>
              <td><%= @tweet.meeting %></td>
            </tr>
            <tr>
              <th>募集期限</th>
              <td><%= @tweet.limittime.to_s(:datetime_jp) %></td>
            </tr>
            <tr>
              <th>コメント</th>
              <td><%= @tweet.comment %></td>
            </tr>
            <tr>
              <th>投稿日時</th>
              <td><%= @tweet.created_at.to_s(:datetime_jp) %></td>
            </tr>
          </tbody>
        </table>

        <div align="center">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(@tweet) %>
          <%= link_to tweet_like_path(id: @tweet.id, tweet_id: @tweet.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= @tweet.likes.count %>
          <% end %>
          <% else %>
          <%= link_to tweet_likes_path(id: @tweet.id, tweet_id: @tweet.id), method: :post do %>
          <i class="far fa-heart"></i><%= @tweet.likes.count %>
          <% end %>
          <% end %>
          <% else %>
          <i class="far fa-heart"></i><%= @tweet.likes.count %>
          <% end %><br>
        </div>
        <br>
        <div align="center">
          <a href="/users/<%= @tweet.user.id %>"><%= @tweet.user.name %></a><br>
        </div>
        <br>
        <div class="tweet-submit" align="center">
          <%# # 投稿者とログイン中のユーザーが一致しない場合のみボタンを表示させる %>
          <% if @user.id != current_user.id %>
          <%# # 該当の投稿の申込者の中に、ログイン中のユーザーが含まれているか否かで場合分けする %>
          <% if @tweet.taker_ids.include?(current_user.id) %>
          <%= button_to "キャンセル", cancel_tweet_path(@tweet.id), data: { confirm: "こちらの投稿の申し込みをキャンセルしますか？" } %>
          <% else %>
          <%= button_to "申し込む", take_tweet_path(@tweet.id), data: { confirm: "こちらの投稿に申し込みますか？" } %>
          <% end %>
          <% else %>
          <%= link_to "編集", edit_tweet_path(@tweet.id) %>&nbsp;&nbsp;<%= link_to "削除", tweet_path(@tweet.id), method: :delete %><br>
          <% end %>
          <%= flash[:alert] %>
        </div>
        <br>
        <br>
      </div>
    </div>


    <div align="center">
      <br>
      <%# <%= link_to "グループ作成へ", groups_path %>

      <h2>この投稿にいいねしたユーザー</h2>
      <% @tweet.liked_users.each do |user| %>
      <li><%= user.name %></li><br>
      <% end %>

      <div class="remark-wrapper">
        <h3>
          <p>コメント一覧</p>
        </h3>
        <% @remarks.each do |c| %>
        <div>
          <table>
            <td><%= c.user.name unless c.user.blank? %></td>
            <td>&nbsp;&nbsp;</td>
            <td><%= c.content %></td>
          </table>
        </div>
        <br>
        <% end %>

        <% if user_signed_in? %>
        <%= form_with(model: [@tweet, @remark], local: true) do |f| %>
        <%= f.text_area :content, size: "54x2" %><br>
        <%= button_tag type: "submit" do %>
        <i class="far fa-remarks"></i> コメントする
        <% end %>
        <% end %>
        <% end %>
      </div>
      <br>
      <br>
      <%= link_to "一覧に戻る", tweets_path %>
      <br>
      <br>
      <br>
      <br>
    </div>
  </body>

</html>