<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>GD match</title>
    <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">
    <link rel="stylesheet" href="../../assets/stylesheets/tweets.scss">

  </head>

  <body>
    <br>

    <div class="t-container">
      <div class="t-item">
        <br>
        <div align="center">
          <p><b><%= @tweet.thema %></b></p>
        </div>
        <br>
        <table class="tweet-table">
          <tbody>
            <tr>
              <th>開催日時</th>
              <td><%= @tweet.hosttime %></td>
              <%# .to_s(:datetime_jp)  %>
            </tr>
            <tr>
              <th>所要時間</th>
              <td><%= @tweet.requiredtime %></td>
            </tr>
            <tr>
              <th>テーマ型</th>
              <td><%= @tweet.thematype %></td>
            </tr>
            <tr>
              <th>グループ人数</th>
              <td><%= @tweet.number %>名</td>
            </tr>
            <tr>
              <th>職種・企業群</th>
              <td><%= @tweet.subject %></td>
            </tr>
            <tr>
              <th>レベル</th>
              <td><%= @tweet.level %></td>
            </tr>
            <tr>
              <th>ツール</th>
              <td><%= @tweet.meetingtype %></td>
            </tr>
            <tr>
              <th>接続情報</th>
              <td><%= @tweet.meeting %></td>
            </tr>
            <%# <tr> %>
            <%# <th>募集期限</th> %>
            <%# <td><%= @tweet.limittime %>
            <%# .to_s(:datetime_jp)  %>
            <%# </tr> %>
            <tr>
              <th>コメント</th>
              <td><%= @tweet.comment %></td>
            </tr>
            <tr>
              <th>更新日時</th>
              <td><%= @tweet.updated_at %></td>
              <%# .to_s(:datetime_jp)  %>
            </tr>
          </tbody>
        </table>

        <div align="center">
          <% if user_signed_in? %>
          <% if current_user.already_liked?(@tweet) %>
          <%= link_to tweet_like_path(id: @tweet.id, tweet_id: @tweet.id), method: :delete do %>
          <i class="fas fa-heart"></i><%= @tweet.likes.count %>
          <% end %>
          <% else %>
          <%= link_to tweet_likes_path(id: @tweet.id, tweet_id: @tweet.id), method: :post do %>
          <i class="far fa-heart"></i><%= @tweet.likes.count %>
          <% end %>
          <% end %>
          <% else %>
          <i class="far fa-heart"></i><%= @tweet.likes.count %>
          <% end %><br>
          <br>
          PV数：<%=  @tweet.impressionist_count %>
          <br>
        </div>
        <br>
        <div align="center">
          <a href="/users/<%= @tweet.user.id %>"><%= @tweet.user.name %></a><br>
        </div>
        <br>
        <div class="tweet-submit" align="center">

          <% @time = @tweet.limittime.to_s %>

          <% if Time.zone.now.before? Time.zone.parse(@time) %>
          <%# # 投稿者とログイン中のユーザーが一致しない場合のみボタンを表示させる %>
          <% if @user.id != current_user.id %>
          <%# # 該当の投稿の申込者の中に、ログイン中のユーザーが含まれているか否かで場合分けする %>
          <% if @tweet.taker_ids.include?(current_user.id) %>
          <%= button_to "キャンセル", cancel_tweet_path(@tweet.id), data: { confirm: "こちらの投稿の申し込みをキャンセルしますか？" } %>
          <% else %>
          <%= button_to "申し込む", take_tweet_path(@tweet.id), data: { confirm: "こちらの投稿に申し込みますか？" } %>
          <% end %>
          <% else %>
          <%= link_to "編集", edit_tweet_path(@tweet.id) %>&nbsp;&nbsp;<%= link_to "削除", tweet_path(@tweet.id), method: :delete %><br>
          <% end %>
          <br>
          <%= flash[:alert] %>
          <br>
          <br>
          <% if TweetTaker.where(tweet_id:@tweet.id).count + 1 < @tweet.number %>
          <p align="center">あと<%= @tweet.number - TweetTaker.where(tweet_id:@tweet.id).count - 1 %>名まで参加できます。</p>
          <br>
          <p align="center">募集期限 <%= @tweet.limittime %> まで
            <br>
            <input type="hidden" id="userYear" value="<%= @tweet.limittime.year %>">
            <input type="hidden" id="userMonth" value="<%= @tweet.limittime.month %>">
            <input type="hidden" id="userDate" value="<%= @tweet.limittime.day %>">
            <input type="hidden" id="userHour" value="<%= @tweet.limittime.hour %>">
            <input type="hidden" id="userMin" value="<%= @tweet.limittime.min %>">
            <input type="hidden" id="userSec" value="<%= @tweet.limittime.sec %>">
          </p>
          <p align="center" id="RealtimeCountdownArea"></p>
          <% else %>
          <p>満席になっているため申し込みできません。</p>
          <% end %>
          <% else %>
          <p><b>申込受付は終了しました。</b></p>
          <% end %>
        </div>
        <br>
        <br>
      </div>
    </div>


    <div align="center">
      <br>
      <%# <%= link_to "グループ作成へ", groups_path %>

      <h2>この投稿にいいねしたユーザー</h2>
      <% @tweet.liked_users.each do |user| %>
      <li>
        <%= link_to "/users/#{user.id}" do %>
        <%= user.name %>
        <% end %>
      </li><br>
      <% end %>

      <%# 公開チャットコメント %>
      <div class="remark-wrapper">
        <h3>
          <p>コメント一覧</p>
        </h3>
        <% @remarks.each do |c| %>
        <div>
          <table>
            <td><%= c.user.name unless c.user.blank? %></td>
            <td>&nbsp;&nbsp;</td>
            <td><%= c.content %></td>
          </table>
        </div>
        <br>
        <% end %>

        <% if user_signed_in? %>
        <%= form_with(model: [@tweet, @remark], local: true) do |f| %>
        <%= f.text_area :content, size: "54x2" %><br>
        <%= button_tag type: "submit" do %>
        <i class="far fa-remarks"></i> コメントする
        <% end %>
        <% end %>
        <% end %>
      </div>
      <br>
      <br>
      <%= link_to "一覧に戻る", tweets_path %>
      <br>
      <br>
      <br>
      <br>

      <%# もし申込者または募集者が閲覧していたらコメントできるようにする。 %>
      <% if @tweet.taker_ids.include?(current_user.id) or @user.id == current_user.id %>
      <div class="remark-wrapper">
        <h3>
          <p id="groupchat">申込者限定グループチャット</p>
        </h3>
        <br>
        <p>申込者一覧</p>
        <% @tweet.taked_users.each do |user| %>
        <li>
          <%= link_to "/users/#{user.id}" do %>
          <%= user.name %>
          <% end %>
        </li><br>
        <% end %>
        <% @grouptalks.each do |c| %>
        <div>
          <table>
            <td><%= c.user.name unless c.user.blank? %></td>
            <td>&nbsp;&nbsp;</td>
            <td><%= c.content %></td>
          </table>
        </div>
        <br>
        <% end %>

        <% if user_signed_in? %>
        <%= form_with(model: [@tweet, @grouptalk], local: true) do |f| %>
        <%= f.text_area :content, size: "54x2" %><br>
        <%= button_tag type: "submit" do %>
        <i class="far fa-remarks"></i> コメントする
        <% end %>
        <% end %>
        <% end %>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <%= link_to "一覧に戻る", tweets_path %>
      <br>
      <br>
      <br>
      <br>
      <% end %>
    </div>

    <script>
      function set2fig(num) {
        // 数値が1桁だったら2桁の文字列にして返す
        var ret;
        if (num < 10) {
          ret = "0" + num;
        } else {
          ret = num;
        }
        return ret;
      }

      function isNumOrZero(num) {
        // 数値でなかったら0にして返す
        if (isNaN(num)) {
          return 0;
        }
        return num;
      }

      function showCountdown() {
        // 現在日時を数値(1970-01-01 00:00:00からのミリ秒)に変換
        var nowDate = new Date();
        var dnumNow = nowDate.getTime();

        // 指定日時を数値(1970-01-01 00:00:00からのミリ秒)に変換
        var inputYear = document.getElementById("userYear").value;
        var inputMonth = document.getElementById("userMonth").value - 1;
        var inputDate = document.getElementById("userDate").value;
        var inputHour = document.getElementById("userHour").value;
        var inputMin = document.getElementById("userMin").value;
        var inputSec = document.getElementById("userSec").value;
        var targetDate = new Date(isNumOrZero(inputYear), isNumOrZero(inputMonth), isNumOrZero(inputDate),
          isNumOrZero(
            inputHour), isNumOrZero(inputMin), isNumOrZero(inputSec));
        var dnumTarget = targetDate.getTime();

        // 表示を準備
        var dlYear = targetDate.getFullYear();
        var dlMonth = targetDate.getMonth() + 1;
        var dlDate = targetDate.getDate();
        var dlHour = targetDate.getHours();
        var dlMin = targetDate.getMinutes();
        var dlSec = targetDate.getSeconds();
        // var msg1 = "期限の" + dlYear + "/" + dlMonth + "/" + dlDate + " " + set2fig(dlHour) + ":" + set2fig(dlMin) +
        //   ":" +
        //   set2fig(dlSec);

        // 引き算して日数(ミリ秒)の差を計算
        var diff2Dates = dnumTarget - dnumNow;
        if (dnumTarget < dnumNow) {
          // 期限が過ぎた場合は -1 を掛けて正の値に変換
          diff2Dates *= -1;
        }

        // 差のミリ秒を、日数・時間・分・秒に分割
        var dDays = diff2Dates / (1000 * 60 * 60 * 24); // 日数
        diff2Dates = diff2Dates % (1000 * 60 * 60 * 24);
        var dHour = diff2Dates / (1000 * 60 * 60); // 時間
        diff2Dates = diff2Dates % (1000 * 60 * 60);
        var dMin = diff2Dates / (1000 * 60); // 分
        diff2Dates = diff2Dates % (1000 * 60);
        var dSec = diff2Dates / 1000; // 秒
        var msg2 = Math.floor(dDays) + "日" +
          Math.floor(dHour) + "時間" +
          Math.floor(dMin) + "分" +
          Math.floor(dSec) + "秒";

        // 表示文字列の作成
        var msg;
        if (dnumTarget > dnumNow) {
          // まだ期限が来ていない場合
          msg = "あと" + msg2;
        } else {
          // 期限が過ぎた場合
          // msg = msg1 + "は、既に" + msg2 + "前に過ぎました。";
          msg = "既に" + msg2 + "前に過ぎました。";
        }

        // 作成した文字列を表示
        document.getElementById("RealtimeCountdownArea").innerHTML = msg;
        document.getElementById("limittime.id").value = targetDate;

      }
      // 1秒ごとに実行
      setInterval('showCountdown()', 1000);
    </script>

  </body>

</html>