<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta neme="viewport" content="width=device-width, initial-scale=1">
        <title>GD match</title>
        <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">

    </head>

    <body>
        <div align="center">
            <div class="group-show">
                <div class="show-group-chat-back">
                    <span class="group-show-group-chat-back">
                        <%= link_to groups_path do %>
                        <% end %>
                    </span>
                </div>
                <br>
                <br>
                <div class="comment-wrapper">
                    <p>グループチャット</p>
                    <% @comments.each do |c| %>
                    <div>
                        <%= c.user.email unless c.user.blank? %>
                        <br>
                        <%= c.content %>
                    </div>
                    <br>
                    <% end %>

                    <% if user_signed_in? %>
                    <%= form_with(model: [@group, @comment], local: true) do |f| %>
                    <%= f.text_area :content %><br>
                    <%= button_tag type: "submit" do %>
                    <i class="far fa-comments"></i> メッセージ送信
                    <% end %>
                    <% end %>
                    <% end %>
                </div>
                <%= link_to "グループへ作成画面に戻る", groups_path %><br>
            </div>

            <%= link_to "グループ画面へ", groups_path(@group.id) %><br>
            <%= link_to "Tweet一覧に戻る", tweets_path %>

        </div>
    </body>

</html>