<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta neme="viewport" content="width=device-width, initial-scale=1">
        <title>GD match</title>
        <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">

    </head>

    <body>
        <br>
        <div class="userpage-all-container">
            <div class="user-prof-container" align="center">
                <div class="userpage-head" align="center">
                    <p><b>ユーザー情報</b></p>
                </div>
                <br>
                <div class="follow-button" align="center">
                    <% if @user.id == current_user.id %>
                    <% else %>
                    <% if current_user.following?(@user) %>
                    <%= button_to "フォロー解除", user_relationships_path(@user.id), method: :delete %>
                    <% else %>
                    <%= button_to "フォロー", user_relationships_path(@user.id), method: :post %>
                    <% end %>
                    <% end %>
                </div>
                <br>
                <div class="user-info" align="center">
                    <table>
                        <tbody>
                            <tr>
                                <th>名前</th>
                                <td>&nbsp;&nbsp;</td>
                                <td><%= @user.name %></td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>&nbsp;&nbsp;</td>
                                <td><%= @user.email %></td>
                            </tr>
                            <tr>
                                <th>性別</th>
                                <td>&nbsp;&nbsp;</td>
                                <td><%= @user.sex %></td>
                            </tr>
                            <tr>
                                <th>卒業予定年度</th>
                                <td>&nbsp;&nbsp;</td>
                                <td><%= @user.year %></td>
                            </tr>
                            <tr>
                                <th>志望職種系統</th>
                                <td>&nbsp;&nbsp;</td>
                                <td><%= @user.job %></td>
                            </tr>
                            <tr>
                                <th>プロフィール</th>
                                <td>&nbsp;&nbsp;</td>
                                <td><%= @user.profile %></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <% if current_user.id == @user.id %>
                <%= link_to "編集", edit_user_registration_path %>
                <% else %>
                <% if @isRoom == true %>
                <p><a class="dm-button" href="/rooms/<%= @roomId %>"><button>ダイレクトメッセージ</button></a><br>
                    <% else %>
                    <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                    <%= e.hidden_field :user_id, :value=> @user.id %>
                    <% end %>
                    <%= f.submit "ダイレクトメッセージ" %>
                    <% end %>
                    <% end %>
                    <% end %>
                    <br>
            </div>

            <br>
            <div class="user-tweets-container" align="center">
                <div class="userpage-tweets-list" align="center">
                    <p><b>ユーザーの投稿一覧</b></p>
                </div>
                <br>
                <table class="user-tweets-table">
                    <tbody>
                        <tr>
                            <th>テーマ型</th>
                            <th>テーマ</th>
                            <th>開催日時</th>
                            <th>グループ人数</th>
                            <th>レベル</th>
                            <th>詳細ページ</th>
                            <th>グループチャット</th>
                        </tr>
                        <% @user.tweets.each do |t| %>
                        <tr>
                            <td><%= t.thematype %></td>
                            <td><%= t.thema %></td>
                            <td><%= t.hosttime.to_s(:datetime_jp)  %></td>
                            <td><%= t.number %>名</td>
                            <td><%= t.level %></td>
                            <td><%= button_to " 詳細 ", tweet_path(t.id) %></td>
                            <td><button><a href="/tweets/<%= t.id %>/groupchat">グループチャット</a></button></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <br>
                <a href="/users/<%= @user.id %>/postedtweets">一覧ページへ</a>
            </div>
            <br>

            <div class="user-likes-container" align="center">
                <div class="userpage-tweets-likes" align="center">
                    <p><b>ユーザーがいいねした投稿一覧</b></p>
                </div>
                <br>
                <table class="user-likes-table">
                    <tbody>
                        <tr>
                            <th>テーマ型</th>
                            <th>テーマ</th>
                            <th>開催日時</th>
                            <th>グループ人数</th>
                            <th>レベル</th>
                            <th>ユーザー名</th>
                            <th>詳細ページ</th>
                        </tr>
                        <% @user.liked_tweets.each do |t| %>
                        <tr>
                            <td><%= t.thematype %></td>
                            <td><%= t.thema %></td>
                            <td><%= t.hosttime.to_s(:datetime_jp)  %></td>
                            <td><%= t.number %>名</td>
                            <td><%= t.level %></td>
                            <td><%= t.user.name %></td>
                            <td><%= button_to " 詳細 ", tweet_path(t.id) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <br>
                <a href="/users/<%= @user.id %>/likedtweets">一覧ページへ</a>
            </div>

            <br>
            <div class="user-follow-container" align="center">
                <% if @users.present? %>
                <div class="userpage-tweets-likes" align="center">
                    <p><b>フォロー一覧（<%= @followings.count %>）</b></p>
                </div>
                <br>
                <table class="user-follow-table">
                    <thead>
                        <tr>
                            <th>ユーザー名</th>
                            <th>フォロー</th>
                            <th>フォロワー</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%# <% @users.each do |user| %>
                        <% @followings.each do |user| %>
                        <tr>
                            <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
                            <td><%= user.followings.count %>名</td>
                            <td><%= user.followers.count %>名</td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <br>
                <div class="userpage-tweets-likes" align="center">
                    <p><b>フォロワー一覧（<%= @followers.count %>）</b></p>
                </div>
                <br>
                <table class="user-follow-table">
                    <thead>
                        <tr>
                            <th>ユーザー名</th>
                            <th>フォロー</th>
                            <th>フォロワー</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%# <% @users.each do |user| %>
                        <% @followers.each do |user| %>
                        <tr>
                            <td><a href="/users/<%= user.id %>"><%= user.name %></a></td>
                            <td><%= user.followings.count %>名</td>
                            <td><%= user.followers.count %>名</td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

                <% else %>
                <div class="userpage-tweets-likes" align="center">
                    <p><b>フォロワーまたはフォロワー一覧</b></p>
                </div>
                <br>
                <p>情報はありません</p>
                <% end %>
                <br>
                <a href="/users/<%= @user.id %>/ff">一覧ページへ</a>
            </div>

            <br>

            <% if @user.id == current_user.id %>
            <div class="user-take-container" align="center">
                <div class="userpage-take-all" align="center">
                    <p><b>あなたの申込一覧</b></p>
                </div>
                <br>
                <% @user.taked_tweets.each do |tt| %>
                <table class="user-takedtweets-table">
                    <tbody>
                        <tr>
                            <th>テーマ型</th>
                            <th>テーマ</th>
                            <th>開催日時</th>
                            <th>グループ人数</th>
                            <th>レベル</th>
                            <th>詳細ページ</th>
                            <th>グループチャット</th>
                        </tr>
                        <tr>
                            <td><%= tt.thematype %></td>
                            <td><%= tt.thema %></td>
                            <td><%= tt.hosttime.to_s(:datetime_jp)  %></td>
                            <td><%= tt.number %>名</td>
                            <td><%= tt.level %></td>
                            <td><%= button_to " 詳細 ", tweet_path(tt.id) %></td>
                            <td><button><a href="/tweets/<%= tt.id %>/groupchat">グループチャット</a></button></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <a href="/users/<%= @user.id %>/takedtweets">一覧ページへ</a>
                <% end %>
                <% else %>
                <% end %>
            </div>

            <br>
        </div>
        <div align="center">
            <%= link_to "投稿一覧に戻る", tweets_path %>
        </div>

        <br>
        <br>
        <br>
        <br>
    </body>

</html>