<!DOCTYPE html>
<html>

  <head>
    <title>Gdmatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to tweets_path do %>
        <div class="icon"><img src="../../images/icon.png"></img></div>
        <% end %>
      </h1>
      <div class="header-list">
        <ul>
          <% if user_signed_in? %>
          <li>ようこそ、<a href="/users/<%= current_user.id %>"><%= current_user.name %></a>さん</li>
          <li><%= link_to "新規募集", tweets_new_path %></li>
          <li><%= link_to "申込確認" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li>ようこそ、GD matchへ</li>
          <li><%= link_to "新規募集", tweets_new_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <small>&copy; Copyright 2021 GD match, All Rights Reserved.</small>
      <%# <a href="">ホーム </a><a href="">サイト情報 </a><a href="">お問い合わせ </a> %>
    </footer>
  </body>

</html>