<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="UTF-8">
    <meta neme="viewport" content="width=device-width, initial-scale=1">
    <title>GD match</title>
    <link rel="stylesheet" href="../../assets/stylesheets/html5reset-1.6.1.css">
    <link rel="stylesheet" href="../../assets/stylesheets/users.scss">

  </head>

  <body>
    <br>
    <div class="user-container" align="center">
      <div class="user-buttomcontainer">
        <br>
        <p class="login-head"><b>新規登録</b></p>
        <br>
        <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :ニックネーム %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>
        <br>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>（<%= @minimum_password_length %>文字以上）</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="field">
          <%= f.label :パスワード（確認） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "登録する" %>
        </div>
        <% end %>
        <br>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </body>

</html>